.container{
  position: fixed;
  left: 50%;
  top: 10%;
  height: 60%;
  width: 600px;
  transform: translate(-50%);
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  opacity:1;
  transition: all 0.7s;
}

.btn{
  padding: 5px 8px;
  margin: 5px;
  width: 200px;
  border-radius: 5px;
  cursor: pointer;
  background-color: green;
  border: none;
  font-size: 16px ;
}

.btn:hover{
  filter: brightness(0.8);
}

label{
  color: blueviolet;
  font-family: sans-serif;
  margin: 10px;
  font-size: 16px;
}

.input{
  border: 1px solid;
  padding: 10px;
  margin: 10px 0;
  font-size: 16px;
  text-align: center;
}

.input::placeholder{
  color: lightgrey;
}