<div>
    <p>{{jobsCount()}}</p>
    <p>{{jobSearchParameters()}}</p>
    <p>Current Time: {{curTime()}}</p>
</div>
<button type="button" class="button_1" (click)="createJob()">Add Job</button>
<button type="button" class="button_2" (click)="refreshSlottingList()">Refresh</button>

<section id="query">
    <div class="container">
        <label for="query">Query: </label>
        <input type="text" id="query" [formControl]="queryCtl" (input)="search()">
    </div>
    <fieldset>
        <legend>Please select your preferred filter type:</legend>
        <div>
            <input type="radio" id="partnumber" [formControl]="typeCtl" value="partNumber" (change)="search()"
                checked />
            <label for="partnumber">Part Number</label>
            <input type="radio" id="workdate" [formControl]="typeCtl" value="date" (change)="search()" />
            <label for="workdate">Work Date</label>
            <input type="radio" id="packcode" [formControl]="typeCtl" value="packCode" (change)="search()" />
            <label for="packcode">Pack Code</label>
        </div>
    </fieldset>
</section>
@if(isLoading()){
<div>...Loading slotting</div>
}@else if(loadingErrorMessage()){
<div style="color: red;">An error occured: {{loadingErrorMessage()}}</div>
}@else {
    @if(dataIsStale()){
        <div style="color:red">The slotting data may change. Please Refresh</div>
    }
@if (filteredJobs().length >0) {
<section class="job-section">
    <h2 class="profile-header">Job List</h2>
    <article class="job-list">
        @for (job of filteredJobs(); track i; let i=$index) {
        <app-job-card [index]="i" [job]="job" />
        }
    </article>
</section>
}
}