<div class="cart-form-container">
  <header class="cart-form-header">
    <h1>Cart</h1>
    <p>
      <a routerLink="/shipping">Shipping Prices</a>
    </p>
  </header>
  @for (translator of translators; track $index) {
  <div class="cart-card">
    <span>{{ translator.name }}</span>
    <span>{{ translator.price_hour | currency }}</span>
  </div>
  }


  <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()" class="cart-form">
    <div class="cart-form-row">
      <label for="name"> Name </label>
      <input id="name" type="text" formControlName="name">
    </div>

    <div class="cart-form-row">
      <label for="address"> Address </label>
      <input id="address" type="text" formControlName="address">
    </div>
    <div class="cart-form-row">
      <button type="submit">Purchase</button>
    </div>
  </form>
</div>