.cart-card{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    flex-direction:column;
    border-radius:10px;
    box-shadow:rgba(0,0,0,0.16) 0px 10px 36px 0px, rgba(0,0,0,0.06) 0px 0px 0px 1px;
    width:300px;
  }

  h1{
    text-align: center;
  }