<div class="main-container">
    <select [formControl]="selectedPokemon">
        <option disabled value="">--select a pokemon--</option>
        <option *ngFor="let pokemon of pokemonArr" [ngValue]="pokemon">
            {{ pokemon.name }}
        </option>
    </select>

    <div class="card">
        <img src="{{selectedPokemon.value?.imageUrl}}" class="pokemon-image"
            alt="Image of {{selectedPokemon.value?.name}}" />
        <h2 class="pokemon-name">{{selectedPokemon.value?.name}}</h2>
        <p class="pokemon-description">{{selectedPokemon.value?.description}}</p>
    </div>
    <div class="btn-container">
        <button id="prev" class="btn" [disabled]="i<=0"><i class="fas fa-angle-double-left btn prev"
                (click)="onPrev()"></i></button>
        <button id="next" class="btn" [disabled]="i>=pokemonArr.length-1"><i class="fas fa-angle-double-right btn next"
                (click)="onNext()"></i></button>
    </div>
</div>