
.main-container {
    background-color: #bbebe4;
    padding: 10px;
    font-family: Roboto sans-serif;
    color: black;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

select{
    height: 50px;
    text-align: center; 
    /* text align vertical center */
    margin-bottom: 20px;
    border: 1px;
    opacity: 0.3;
    width: 500px;
}

.card{
    background-color: #fff;
    padding: 40px 10px;
    text-align: center;
    vertical-align: middle;
    /* text-align: horizontally aligned; */
    width: 500px;
    height: 600px;
    overflow: hidden;
    background-size: cover;
}

.card img{
    width: 300px;
    height: 400px;
}

.btn{
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;    
}

.btn:hover{
    background-color: slateblue;
    opacity: 1;
}

.btn:disabled {
    background-color: dimgrey;
    color: linen;
    opacity: 1;
}