<div class="container-fluid">
  <form [formGroup]="translatorUpdateForm" autocomplete="off" novalidate
    (ngSubmit)="updateTranslator(translatorUpdateForm.value)">
    <div class="card card-body bg-light mb-2 mt-2">
      <div class="row mb-3">
        <label for="name" class="col-form-label col-md-2">First Name: </label>
        <div class="col-md-5">
          <input type="text" formControlName="firstName" id="name" class="form-control" />
        </div>
        <div class="col-md-5">
          @if (validateControl('firstName') && hasError('firstName', 'required')) {<em>Name is required</em>}
          @if (validateControl('firstName') && hasError('firstName', 'maxlength')) {<em>Maximum allowed length is 60
            characters.</em>}
        </div>
      </div>
      <div class="row mb-3">
        <label for="lastLame" class="col-form-label col-md-2">Last Name: </label>
        <div class="col-md-5">
          <input type="text" id="lastLame" formControlName="lastName" class="form-control" placeholder="Last Name">
        </div>
      </div>

      <div class="mb-3 row">
        <label for="email" class="col-form-label col-md-2">Email: </label>
        <div class="col-md-5">
          <input type="email" formControlName="email" id="email" class="form-control" placeholder="Email" />
        </div>
        <div class="col-md-5">
          @if (validateControl('email')&& hasError('email', 'required')) {
          <em>Email is required</em>
          }
        </div>
      </div>

      <div class="form-field">
        <label for="password" class="col-form-label col-md-2">Password: </label>
        <input type="password" id="password" formControlName="password" class="form-control" placeholder="Password">
      </div>
      <div class="form-field">
        <label for="verifyPassword" class="col-form-label col-md-2">Verify Password: </label>
        <input type="password" id="verifyPassword" formControlName="verifyPassword" class="form-control"
          placeholder="verifyPassword">
      </div>

      <div class="form-field">
        <label for="telephone" class="col-form-label col-md-2">Telephone: </label>
        <input type="text" id="telephone" formControlName="telephone" class="form-control" placeholder="Telephone">
      </div>

      <div class="mb-3 row">
        <label for="address" class="col-form-label col-md-2">Address: </label>
        <div class="col-md-5">
          <input type="text" formControlName="address" id="address" class="form-control" />
        </div>
        <div class="col-md-5">
          @if (validateControl('address') && hasError('address', 'required')) {<em>Address is required</em>}
          @if (validateControl('address') && hasError('address', 'maxlength')) {<em>Maximum allowed length is 100
            characters.</em>}
        </div>
      </div>
      <div class="form-field">
        <label for="bio" class="col-form-label col-md-2">Address: </label>
        <input type="text" id="bio" formControlName="bio" class="form-control" placeholder="Bio">
      </div>

      <div class="mb-3 row">
        <label for="startdate" class="col-form-label col-md-2">Date of Start: </label>
        <div class="col-md-5">
          <input type="text" formControlName="startDate" id="startdate" class="form-control" readonly bsDatepicker />
        </div>
        <div class="col-md-5">
          @if (validateControl('startDate') && hasError('startDate', 'required')) {<em>Date of start is
            required</em>}
        </div>
      </div>

      <div form-field>
        <label class="col-form-label col-md-2">Choose a role...</label>
        <select formControlName="role">
          <option disabled value="">--select a role--</option>
          @for (role of roles; track $index) {
          <option [value]="role">{{role}} </option>
          }
        </select>
      </div>

      <div class="form-field">
        <label for="image" class="col-form-label col-md-2">Load Photo: </label>
        <input type="file" id="image" formControlName="imageUrl" class="form-control" placeholder="Picture">
      </div>

      <br><br>
      <div class="mb-3 row">
        <div class="offset-5 col-md-1">
          <button type="submit" class="btn btn-info" [disabled]="!translatorUpdateForm.valid">Save</button>
        </div>
        <div class="col-md-1">
          <button type="button" class="btn btn-danger" (click)="redirectToTranslatorList()">Cancel</button>
        </div>
      </div>
    </div>
  </form>
</div>