<article class="profile-card">
  <p class="profile-headline"> Meet <span class="profile-name">{{translator.first_name}}</span></p>
  <p class="profile-description"><span class="profile-name"></span>{{translator.address}}</p>
  <p class="profile-description"><span class="profile-name"></span>{{translator.start_date | date:'dd/MM/yyyy'}}</p>
  <h3>
    <a [title]="translator.first_name + ' details'" [routerLink]="['/translator/details', translator.id]">
      {{ translator.first_name }}Details
    </a>
  </h3>
  <button type="button" id="update" class="btn btn-success" (click)="redirectToUpdatePage(translator.id)">Update</button>
  <button type="button" id="delete" class="btn btn-danger" (click)="redirectToDeletePage(translator.id)">Delete</button>
</article>

