<article class="profile-card">
  <p class="profile-headline"> Meet <span class="profile-name">{{translator.name}}</span></p>
  <p class="profile-description"><span class="profile-name"></span>{{translator.address}}</p>
  <h3>
    <a [title]="translator.name + ' details'" [routerLink]="['/translator/details', index]">
      {{ translator.name }}Details
    </a>
  </h3>
  <button type="button" id="update" class="btn btn-success">Update</button>
  <button type="button" id="delete" class="btn btn-danger">Delete</button>
</article>
