@if ( translator) {
<article class="details-panel">
  <img class="main-img" src="{{translator.image_url}}" alt="Photo of {{translator.first_name}}" />
  <section>
    <h1 class="main-text">{{translator.first_name}}</h1>
    <h2>Address: <span class="emphasize">{{translator.address}}</span></h2>
  </section>
</article>
}@else {<h2>{{errorMessage}}</h2>}

<div class="card card-body bg-light mb-2 mt-2">
  <div class="row">
    <div class="col-md-3">
      <strong>Translator name:</strong>
    </div>
    <div class="col-md-3">
      {{translator.first_name}}
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <strong>Date of start:</strong>
    </div>
    <div class="col-md-3">
      {{translator.start_date | date: 'dd/MM/yyyy'}}
    </div>
  </div>
  @if(orders.length < 2){ <div class="row">
    <div class="col-md-3">
      <strong>Translator status:</strong>
    </div>
    <div class="col-md-3">
      <span [appAppend]="translator" class="text-success">Beginner Translator</span>
    </div>
</div>} @else {
<div class="row">
  <div class="col-md-3">
    <strong>Translator status:</strong>
  </div>
  <div class="col-md-3">
    <span class="text-info">Advanced Translator.</span>
  </div>
</div>
}
</div>

<app-translation-orders [orders]="orders" (onOrderClick)="printToConsole($event)" />
