<h2>Product Sales</h2>

@if(isLoading()){
<div>...Loading products</div>
}@else if(errorMessage()){
<div style="color: red;">An error occured: {{errorMessage()}}</div>
}@else {
<select [(ngModel)]="selectedProduct">
    <option value="undefined" disabled selected>--select a product--</option>
    @for (item of products(); track $index) {
    <option [ngValue]="item">{{item.name}}</option>
    }
</select>
<div>
    Quantity: <input type="number" [(ngModel)]="quantity" />
</div>

<div>
    Name: {{selectedProduct()?.name}}
    <br>
    Cost: {{selectedProduct()?.price}}
</div>
<div [style.color]="color()">Total: {{total()}}</div>
<button type="button" (click)="addToCart(selectedProduct(), quantity())">Buy</button>
}