.profile-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.translator-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 10px;
}

.profile-header {
  font-size: 36px;
  text-align: center;
  padding: 10px;
}
