<header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center my-5">
                    <h1 class="display-5 fw-bolder text-white mb-2">Translation Hub</h1>
                    <p class="lead text-white-50 mb-4">Every written word deserves a global audience</p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/Simplified_blank_world_map_without_Antartica_%28no_borders%29.svg/1024px-Simplified_blank_world_map_without_Antartica_%28no_borders%29.svg.png"
                            class="img-responsive" alt="Blank world map">

                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div th:replace="fragments :: messages"></div>
<section class="py-5 border-bottom" id="features">
    <div class="container px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <h2 class="h4 fw-bolder">Find A Translator</h2>
                <p>If you have a document you need translated into a different language we might have the translator for
                    you. Search by your desired languages or see a list of all translators.</p>
                <a class="btn btn-primary btn-lg px-4 me-sm-3" href="/search">Search</a>
                <a class="btn btn-primary btn-lg px-4 me-sm-3" href="/translator">View All</a>
            </div>
            <div class="col-lg-6 mb-5 mb-lg-0">
                <h2 class="h4 fw-bolder">Become A Translator</h2>
                <p>Put your language skills to work by signing up to become a translator on our website. A great way to
                    help others and earn some extra income.<br></p>
                <a class="btn btn-primary btn-lg px-4 me-sm-3" href="/translator/register">Sign Up</a>
            </div>
        </div>
    </div>
</section>
@if(testimonial){
<section class="py-5 border-bottom">
    <div class="container px-5 my-5 px-5">
        <div class="text-center mb-5">
            <h2 class="fw-bolder">Customer testimonials</h2>
        </div>
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <!-- Testimonial 1-->
                <div class="card mb-4">
                    <div class="card-body p-4">
                        <div class="d-flex">
                            <div class="flex-shrink-0"><i class="bi bi-chat-right-quote-fill text-primary fs-1"></i>
                            </div>
                            <div class="ms-4">
                                <p class="mb-1"><span>{{testimonial.message}}</span></p>
                                <div class="small text-muted"><span
                                        th:text="${testimonial.firstname} + ' ' + ${testimonial.lastname[0]} + ', ' + ${testimonial.location}"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
}