<div class="container">
  <div class="row">
    <div class="col-md-10 card card-body bg-light mb-2 mt-2">
      <div class="row">
        <div class="col-md-3">
          <label for="name" class="control-label">Translator name:</label>
        </div>
        <div class="col-md-7">
          <span name="name">
            {{translator.firstName}}
          </span>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <label for="start_date" class="control-label">Date of Start:</label>
        </div>
        <div class="col-md-7">
          <span name="dateOfBirth">
            {{translator.startDate | date: 'MM/dd/yyyy'}}
          </span>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <label for="address" class="control-label">Address:</label>
        </div>
        <div class="col-md-7">
          <span name="address">
            {{translator.address}}
          </span>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="offset-md-3 col-md-1">
          <button type="submit" class="btn btn-info" (click)="deleteTranslator()">Delete</button>
        </div>
        <div class="col-md-1">
          <button type="button" class="btn btn-danger" (click)="redirectToTranslatorList()">Cancel</button>
        </div>
      </div>
    </div>
    <span style="font-family: Georgia, 'times new roman', 'bitstream charter', Times, serif;">That's it.</span>
  </div>
</div>
