<div class="navbar">
    <a href="index.html">Translator Hub
        <!-- svg logomaker.com -->
        <img src="../../assets/icons/logo.svg" alt="logo">
    </a>
    <ul>
        <li><a href="#">Home</a></li>
        <li><a routerLink="/pokemon" routerLinkActive="active" ariaCurrentWhenActive="page"
                class="button fancy-button">Pokemon</a></li>
        <li><a routerLink="/products">Products</a></li>
        <li><a routerLink="/jobs">Job List</a></li>
        <li><a routerLink="/add-job">Add Job</a></li>
        <li><a routerLink="/cart" routerLinkActive="active" ariaCurrentWhenActive="page" class="button fancy-button">
                <!-- icon.com -->
                <i class="fa-solid fa-cart-shopping fa-lg"></i>
                Checkout
            </a>
        </li>
        <li><a routerLink="/auth">Login</a></li>

    </ul>
</div>