<div class="navbar">
    <a href="index.html">Translator Hub
        <!-- svg logomaker.com -->
        <img src="../../assets/icons/logo.svg" alt="logo">
    </a>
    <ul>
        <li><a href="#">Home</a></li>
        <li><a routerLink="/pokemon" class="button fancy-button">Pokemon</a></li>
        <li><a href="#">Contact</a></li>
        <li><a routerLink="/cart" class="button fancy-button">
            <!-- icon.com -->
            <i class="fa-solid fa-cart-shopping fa-lg"></i>
            Checkout
        </a></li>
    </ul>
</div>

